<section class="md:h-screen bg-navy bg-hero bg-contain bg-no-repeat bg-bottom w-full relative md:pt-28">
   <div class="flex flex-col min-h-screen items-center justify-center gap-2">
        <div class="prose prose-2xl text-white max-w-none text-center text-3xl pb-2 font-passion-one">
            <p class="uppercase text-2xl md:text-3xl lg:text-5xl pb-2 md:pb-0 mb-0">Ka Ni Kanichihk Mino Pimatsiwin</p>
            <h1 class="text-5xl lg:text-7xl tracking-wide font-bold uppercase text-red mx-auto md:text-left my-0 py-0">Sexual Wellness Lodge</h1>
            <p class="py-4 my-0">We're ready to welcome you.</p>
            <p class="uppercase text-teal font-bold text-4xl my-0 py-0 pb-4">QUESTIONS?</p>
        </div>
        <div class="flex flex-row max-w-none justify-between w-full mx-auto px-0 h-80">
            {% img "home-left.png", "stickers", "h-96 flex-1 object-contain lg:flex hidden" %}
            {% img "logo.png", "logo", "max-h-80 flex-1 object-contain p-0 relative z-10" %}
            {% img "home-right.png", "stickers", "h-96 flex-1 object-contain lg:flex hidden" %}
        </div>
            
   </div>
</section>
<section class="w-full md:h-[50rem] bg-map bg-contain bg-purple bg-blend-overlay bg-opacity-50 flex items-end pb-16 pt-8 md:pt-0">
    <div class="flex md:flex-row flex-col justify-center items-end gap-16 md:h-2/3 xl:w-4/5 mx-auto">
            <!-- this will get a google map as the background eventually, i think -->
            <div class="grid md:grid-cols-2 md:grid-rows-1 grid-rows-2 grid-cols-1 prose text-white max-w-3xl bg-red rounded-[45px] p-4 px-6 gap-10 h-fit md:h-full">
                <div>
                    <h3 class="text-white text-7xl md:text-9xl font-bold uppercase text-center p-0 m-0">Free</h3><p class="text-navy font-Staatliches uppercase text-3xl text-center font-extrabold mb-0 mt-0 p-0">stbbi testing</p>
                    <p class="mt-1"><span class="font-bold">Where to find us</span><br>Our clinic is part of Ka Ni Kanichihk, a trusted heart of Winnipeg's Indigenous community. You’ll find us on the 1st Floor at 765 Main Street in the big red brick Social Enterprise Centre, right near the train tracks. The entrance is located on Austin Street. Ring the doorbell and our staff will greet you at the door! If you find your way here from the main building entrance, that’s okay too! </p>
                </div>
                <div class="h-fit">
                    <p class="font-bold">You can lock your bike in the parking lot of the Social Enterprise Building from 7 a.m. to 4:30 p.m.</p>
                    <p class="font-bold">Ka Ni Kanichihk Reserved parking spots available. Parking is also available on Sutherland Avenue and Austin Street.</p>
                    <p><span class="font-bold">Bus Routes: </span><br>11,12, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 28, 31, 32, 35, 40, 41, 42, 44, 45, 46, 47, 48, 58, 65, 66, 67, 97</p>
                </div>
            </div>
            <div class="bg-white rounded-[45px] max-w-lg p-8 text-navy h-auto md:h-full">
                <h3 class="text-lg font-semibold font-sans mb-8">Ka Ni Kanichihk Mino Pimatisiwin Sexual Wellness Lodge</h3>
                <p>
                    #102–765 Main Street<br>
                    Winnipeg, MB<br>
                    R2W 3N5<br><br>
                    <span class="font-bold">Hours of Operation:</span><br>
                    Monday Noon - 3 p.m.<br>
                    Tuesday Noon - 3 p.m.<br>
                    Thursday Noon - 3 p.m.<br><br>
                    <span class="font-bold">Contact Us:</span><br>
                    Phone: 204-594-6500<br>
                    (Phone not monitored 24/7)<br>
                    Email: <a href="mailto:info@kanikanichihk.ca">info@kanikanichihk.ca</a><br>
                </p>
            </div>
    </div>
</section>
