<section class="h-screen bg-black w-full relative">
<h1 class="text-5xl md:text-6xl lg:text-7xl tracking-wide uppercase text-white pt-64 mb-16 mx-auto text-center">{{heading if heading else title}}</h1>
</section>