---
title: base
site_title: Go Ask Auntie
meta_desc: A basic tamplate for a static site
meta_keywords: 
meta_author: Vincent Design
footer: true
twitter: https://twitter.com/goaskauntieca
facebook: https://www.facebook.com/Goaskauntieca
instagram: https://www.instagram.com/goaskauntieca/
data: data
bg: bg-pattern bg-teal-light bg-contain bg-reapeat-y bg-top bg-overlay
---
<!-- bg-pattern bg-teal-light bg-contain bg-reapeat-y bg-top bg-overlay -->
<!DOCTYPE html>
<html lang="en">
{% include "partials/head.njk" %}
<body class="relative {{ bg }}">
    {% include 'partials/header.njk' %}
    {{ content | safe }}
    {% include ('partials/footer.njk' if footer else 'blank.njk') %}
</body>
</html>