<div class="prose my-4">
    {% if question.question != "" %}<p class="my-4 font-bold text-navy">Q: {{ question.question }}</p>{% endif %}
    {% if question.answer != "" %}
        <p class="!m-0 pb-0 font-extrabold uppercase text-red text-xl">AUNTIE:</p>
        <p class="mb-4 !mt-1 pt-0 text-red-900">{{ question.answer }}</p>
    {% endif %}
</div>