---
eleventyNavigation:
    key: cedar-bath
    title: Cedar Bath  
    order: 2
layout: pages/inner.njk
title: Cedar Bath Ceremony
data: 
prose: true
color: purple
meta_desc: 
footer: true 
instagram: true
bg: teal-light
full_screen: false 
---
<div class="">
<p>
The Cedar Bath Ceremony is a powerful but gentle Ceremony conducted by Indigenous Women for folx who have experienced trauma. The Ceremony is done in a quiet room, where the space and Ceremony bundle have been smudged down. For those experiencing the Cedar Bath for the first time, the conductor will provide information about what will happen during the Ceremony ensuring that body sovereignty and consent will be confirmed throughout the Ceremony. 
</p>
<h2 class="text-navy">What to Expect</h2>
Cedar water medicine is prepared prior to the Ceremony starting and the person receiving the Ceremony will offer their prayer/intention while holding cedar and tobacco to start the Ceremony. One should bring a tobacco offering to the Ceremony, either ceremonial traditional tobacco, or if you are unable, commercial tobacco can be accepted. If possible, the person receiving the Cedar Bath should also bring bagijigan, or a gift, as an act of reciprocity. Bagijigan can be something as simple as a snack, a story, medicines, or something meaningful to you. Once this is done, the cedar is placed with the medicine and the tobacco. This will be offered to the pipe and set aside. 
</p>
<p>
The person receiving the Cedar Bath is fully clothed at all times and is asked to recline into a supine position on a massage table that has been prepared with cedar covered with a red cloth.
</p>
<p>
The person will then be covered by a sheet or a thin blanket with pillows at either the head or under the legs, or both, to maximize comfort. There may be soft music playing in the background. 
</p>
<p>
With consent the conductor will place face cloths soaked in warm cedar water at the back of the neck, on the forehead, over the eyes, on the chest, and one in each hand. The conductor will then lay out four face cloths on the chest area of the person and then slowly and gently pull the face cloths down their body, ending at the toes. With this action, the medicine pulls off or lifts up pain, confusion, sadness, or whatever the body is holding onto. This process is repeated four times. 
</p>
<p>
Once this is complete, the person is covered by a warm blanket and may be fanned down with eagle fans, feathers, or a rattle to complete the healing work. The pipe is lifted using the tobacco that has been offered. 
</p>
<h2 class="text-navy">After the Ceremony</h2>
<p>
Both the folx receiving the bath and the conductor may receive visions/images of distress, illness, or messages through the Ceremony which may be shared with one another. 
</p>
<p>
When the person receiving the bath is ready, they are asked to take their time getting up, given a cup of water or cedar water to drink, and to continue to be gentle with their spirit. The Cedar Bath is powerful, gentle, relaxing, healing, and is for everyone. 
</p>
<p>
Cedar Bath Ceremonies take place on Tuesday and Thursday afternoons at the Wellness Lodge and are about an hour in length. 
</p>    
<h2 class="text-navy">How to Book</h2>
<p>Please connect with us to book your Cedar Bath Ceremony, or if you have any questions or concerns:
<br><br>
Phone: <a href="tel:+204-594-6500">204-594-6500</a><br>
Email: <a href="http://info@kanikanichihk.ca">info@kanikanichihk.ca</a>
</p>
</div>