---
eleventyNavigation:
    key: home
    title: home  
    order: 1
layout: base.njk
title: Home
data: questions
prose: false
color: white
meta_desc: We have a new clinic ready to welcome you, with Indigenous-lead healing and knowledge, plus the auntie advice to guide you on your way.
footer: true 
bg: bg-pattern bg-teal-light bg-contain bg-reapeat-y bg-top bg-overlay
full_screen: false 
---
{% include 'pages/index/hero.njk' %}
{% include 'partials/widgets/instagram.njk' %}
<section class="w-full py-16 md:px-24 bg-transparent">
    {% include 'partials/widgets/q-and-a.njk' %}
</section>