---
eleventyNavigation:
    key: home
    title: home  
    order: 1
layout: base.njk
title: Home
data: questions
prose: false
color: white
meta_desc: the description of the meta tag
meta_author: remove this tag unless you wish to overwrite the default author
footer: true 
bg: 
full_screen: false 
---
{% include 'pages/index/hero.njk' %}
{% include 'partials/widgets/instagram.njk' %}
<section class="w-full py-16 px-24 bg-pattern bg-cover bg-teal-light">
    {% include 'partials/widgets/q-and-a.njk' %}
</section>