---
eleventyNavigation:
    key: Q+A
    title: Q+A  
    order: 2
layout: pages/inner.njk
title: 
data: 
prose: false
color: 
meta_desc: the description of the meta tag
meta_author: remove this tag unless you wish to overwrite the default author
footer: true 
bg: pattern bg-cover bg-teal-light
full_screen: false 
---
<section class="px-4">
{% include 'partials/widgets/q-and-a.njk' %}
</section>