---
eleventyNavigation:
    key: Q+A
    title: Q+A  
    order: 2
layout: pages/inner.njk
title: Q+A
data: 
prose: false
color: 
meta_desc: the description of the meta tag
meta_author: remove this tag unless you wish to overwrite the default author
footer: true 
bg: 
full_screen: false 
---

