---
eleventyNavigation:
    key: wwor
    title: WWOR  
    order: 2
layout: base.njk
title: Walking With Our Relatives
prose: true
color: white
meta_desc: We have a new clinic ready to welcome you, with Indigenous-lead healing and knowledge, plus the auntie advice to guide you on your way.
footer: true 
bg: bg-wwor-body
full_screen: false 
---
<section class="md:h-screen bg-navy bg-wwor bg-cover bg-no-repeat bg-bottom w-full relative md:pt-16">
    <div class="flex flex-col min-h-screen items-center justify-center gap-2">
        <div class="prose prose-2xl text-white max-w-none text-center text-3xl pb-2 font-passion-one">
            <p class="uppercase text-2xl md:text-3xl lg:text-5xl pb-2 md:pb-0 mb-0">Ka Ni Kanichihk Mino Pimatisiwin</p>
            <h1 class="text-5xl lg:text-7xl tracking-wide font-bold uppercase text-[#2e566e] mx-auto md:text-left my-0 py-0">Sexual Wellness Lodge</h1>
        </div>
        <div class="flex flex-row max-w-none justify-between w-full mx-auto px-0 py-8 md:py-0 md:h-[32rem]">
            {% img "wwor-hero.png", "logo", "flex-1 object-contain p-0 relative z-10" %}
        </div>
        <div class="flex md:flex-row flex-col justify-between prose-lg prose w-full mx-auto">
            <p class="uppercase text-white font-bold text-xl my-0 md:py-0 py-6 md:pt-6">#walkingwithourrelatives</p>
            <p class="uppercase text-white font-bold text-xl my-0 md:py-0 py-6 md:pt-6">#auntiegotyourback</p>
        </div>
    </div>
</section>
<section class="bg-[#62459B] p-4">
    <div class="prose prose-lg text-white text-xl mx-auto py-12">
        <h2 class="text-white text-5xl !font-light">Walking With Our Relatives</h2>
        <p>The Walking With Our Relatives project supports relatives of all genders who have experienced sexual assault and/or intimate partner violence access clinical care, counselling, Kookums, ceremony, and social support following sexual assault and intimate partner violence.</p>
        <p class="leading-normal font-bold text-2xl mb-0 mt-10">Services: </p>
        <ul>
            <li class="my-1 mt-2">Confidential forensic exams provided by Community Based Sexual Assault Examiners.</li>
            <li class="my-1">Social support from the Aunties (system navigators) and/or Kookum.</li>
            <li class="my-1">Access to counselling from an Indigenous social worker.</li>
        </ul>
        <p class="leading-normal font-bold text-2xl mb-0 mt-10">What to expect during a forensic exam:</p>
        <p class="mt-2">We always want those who come to the Lodge to feel loved and supported. The Walking With Our Relatives Aunties and Kookum’s are here to support you every step of the way. We go at a pace that is comfortable for you. During your visit at the Lodge you can expect: </p> 
        <ul>
            <li class="my-1">A Sexual Assault Examiner who has built a relationship with the Aunties and Kookum’s at the Lodge.</li>
            <li class="my-1">A private room in our Lodge.</li>
            <li class="my-1">A gift bundle (blankets, clothing from Red Rebel Armour, a candle, and much more)</li>
        </ul>  
    </div>
</section>
<section class="pt-14">
    <div class="bg-[#CAE2EA] grid md:grid-cols-2 grid-cols-1 md:grid-rows-1 grid-rows-2 md:p-6 mx-auto md:w-3/4 mt-12 rounded-lg relative">
        <div class="prose text-[#262259] md:text-xl p-4">
            <h2 class="text-[#262259] text-5xl !font-light mb-2">Auntie Got Your Back</h2>
            <p class="leading-normal font-bold text-lg">Come find Lodge support during these hours</p>
            <p class="leading-normal my-3">Forensic exams are available via appointment 10:00am to 3:00pm. Call the Lodge to book your appointment.</p>
            <p class="leading-normal my-3">Counselling is available via appointment, Tuesdays and Wednesdays 11:00am to 3:00pm. Call the Lodge to book your appointment. Drop-in counselling is also available during these hours.</p>
            <p class="leading-normal my-3">Outreach Lodge is available on Wednesdays 1:00pm to 3:00pm (various locations).</p>
            <p class="leading-normal mb-0 mt-10 font-bold text-xl">Drop-In Hours</p>
            <p class="leading-normal my-3 mt-2">Tuesday 11am - 3pm</p>
            <p class="leading-normal my-3">Thursday 11am - 3pm</p>
            <p class="leading-normal mb-0 mt-10 font-bold text-xl">Contact Us</p>
            <p class="leading-normal my-3 mt-2">A safe space is here for you. Reach out to book an appointment.</p>
            <p class="leading-normal my-3">Lodge Phone: <a href="tel:+12045946500">(204) 594-6500</a> (Phone not monitored 24/7)</p>
            <p class="leading-normal my-3">Email: <a href="mailto:info@kanikanichihk.ca">info@kanikanichihk.ca</a></p>
        </div>
        <div class="prose prose-lg p-4">
            {% img "map.png", "logo", " flex-1 object-contain rounded-lg self-end md:mt-0 md:mb-0 pb-0" %}
            <p class="my-0">Find us at #102-765 Main Street<br>Winnipeg, MB R2W 3N5</p>
            {% img "hands.png", "logo", " flex-1 object-contain absolute bottom-0 right-0 h-40 -mb-12 -mr-12" %}
        </div>
    </div>
</section>

