<footer class="min-h-[640px] bg-transparent w-full flex flex-col justify-evenly bg-navy mt-60"><!--'footer'-->
    <div>
        <div class="h-8 w-full bg-red"></div>
        <div class="h-4 w-full bg-teal-light"></div>
        <div class="h-8 w-full bg-purple"></div>
        <div class="h-4 w-full bg-teal-light"></div>
        <div class="h-8 w-full bg-teal"></div>
        <div class="h-4 w-full bg-teal-light"></div>
    </div>
    <div class="flex md:flex-row flex-col mx-auto h-auto justify-around w-full items-center md:items-end px-4 flex-1 self-end mb-16 bg-navy">
        <div class="flex md:flex-row flex-col md:gap-8 items-center md:items-end">  
            {% img "logo.png", "logo", "object-contain block h-64 py-4 md:p-0 m-0" %}
            <div class="text-xl">
                <p class="text-teal-light font-bold">Ka Ni Kanichihk Mino Pimatisiwin<br>Sexual Wellness Lodge</p>
                <p class="text-white">102 - 765 Main Street<br>
                Winnipeg, Manitoba<br>
                R2W 3N5</p>
            </div>
        </div>
        <div class="text-white text-base">
            <p>© 2021 Go Ask Auntie, All rights reserved.</p>
        </div>
    </div>
    <div class="bg-navy pb-2">
        <p class="text-white text-xs md:text-lg text-center">Web Design & Development by <a href="https://www.vincentdesign.ca" class="text-white">Vincent Design</a></p>
    </div>    
</footer>
