<footer class="min-h-[850px] bg-navy w-full flex flex-col justify-evenly"><!--'footer'-->
    <div>
        <div class="bg-teal-light h-60 md:block hidden">
            {% img "patterns_auntie.png", "pattern", "object-cover block h-full w-full" %}
        </div>
        <div class="h-8 w-full bg-red"></div>
        <div class="h-4 w-full bg-teal-light"></div>
        <div class="h-8 w-full bg-purple"></div>
        <div class="h-4 w-full bg-teal-light"></div>
        <div class="h-8 w-full bg-teal"></div>
        <div class="h-4 w-full bg-teal-light"></div>
    </div>
    <div class="flex md:flex-row flex-col mx-auto h-auto justify-around w-full items-center md:items-end px-4 flex-1 self-end mb-16">
        {% img "logo.png", "logo", "object-contain block h-64 p-0 m-0" %}
        <div class="text-xl">
            <p class="text-teal-light font-extrabold">Ka Ni Kanichihk Mino Pimatisiwin<br>Sexual Health Clinic</p>
            <p class="text-white">102 - 765 Main Street<br>
            Winnipeg, Manitoba<br>
            R2W 3N5</p>
        </div>
        <div class="text-white text-xl">
            <p>© 2021 Go Ask Auntie, All rights reserved.</p>
        </div>
    </div>
    <div class=" pb-2">
        <p class="text-white text-xs md:text-lg text-center">Web Design & Development by <a href="https://www.vincentdesign.ca" class="text-white">Vincent Design</a></p>
    </div>    
</footer>
