<div class="h-auto mx-6 lg:mx-auto my-8 max-w-5xl bg-white"><!--instagram-->
    <div class="flex flex-row justify-between items-end"><h2 class="uppercase font-extrabold text-purple text-3xl">Get social with <span class="text-red">Go Ask Auntie</span></h2>{% include 'partials/widgets/social-media-icons.njk' %}</div>
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    <iframe title="instagram image feed" src="https://cdn.lightwidget.com/widgets/a778dfd7a60b5ce3a983e83a47f3fb17.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
</div>