<section class="bg-white py-8">
<div class="h-auto mx-6 lg:mx-auto max-w-5xl bg-white"><!--instagram-->
    <div class="flex flex-row justify-between items-end"><h2 class="uppercase font-extrabold text-purple text-3xl">Get social with <span class="text-red">Go Ask Auntie</span></h2>{% include 'partials/widgets/social-media-icons.njk' %}</div>
    
    
</div>
</section>