<div class="q-and-a rounded-[45px] bg-white p-8 mx-auto relative">
    <div class="text-purple flex gap-6 w-fit text-2xl items-end">
        {% img "q-and-a.png", "logo", "h-24 inline" %}
        <span class="block mb-4">Do you have a question?<br class="p-0">Find Auntie’s answers here.</span>
    </div>
    <div class="absolute top-0 right-0 -mt-16 -mr-4">
        {% img "condom.png", "logo", "h-96 top-0 right-0" %}
    </div>
    
</div>