<div class="mx-auto flex justify-center place-items-center flex-wrap h-full flex-row md:mx-0 w-auto">
    <a href="{{ twitter }}"><span class="fa-stack fa-lg mx-1 font-extralight text-purple mt-2"><i class="fa fa-circle fa-stack-2x"></i><i class="fab fa-twitter text-white fa-stack-1x"></i></span></a>
    <a href="{{ facebook }}"><span class="fa-stack fa-lg mx-1 font-extralight text-purple mt-2"><i class="fa fa-circle fa-stack-2x"></i><i class="fab fa-facebook-f text-white fa-stack-1x"></i></span></a>
    <a href="{{ instagram }}"><span class="fa-stack fa-lg mx-1 font-extralight text-purple mt-2"><i class="fa fa-circle fa-stack-2x"></i><i class="fab fa-instagram text-white fa-stack-1x"></i></span></a>
</div>